# Зависимости
node_modules/
package-lock.json

# Временные файлы
*.tmp
*.swp

# Сами отчёты (входные и выходные)
отчёты_из_эдельвейса/
готовые_отчёты/
готовые_отчёты_уборка/

# Всякое
.DS_Store
Thumbs.db

# Сгенерированные файлы Excel
*.xlsx
отчёты_горничным/

# Случайная папка
123/
